<div class="wrapper mt-5 fadeInDown">
    <div id="formContent">
      <div class="fadeIn p-4 first">
        <h1 id="loginIcon" class="bi bi-person-fill"></h1>
      </div>
  
      <!-- Login Form -->
      <form>
        <input [(ngModel)]="payload.username" type="email" id="login" class="fadeIn second" name="email" placeholder="email">
        <input [(ngModel)]="payload.password" type="password" id="password" class="fadeIn third" name="password" placeholder="password">
        <button id="subBtn" type="submit" class="fadeIn btn btn-sm fourth" (click)="login()">Login</button>
      </form>
  
      <!-- signIn -->
      <div id="formFooter">
        <button id="signInBtn" class="underlineHover">Registrati!</button>
      </div>
  
    </div>
  </div>
